<ul>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="federation">United Federation of Planets</a></li>
    <li><a routerLink="klingon">Klingon Empire</a></li>
    <li><a routerLink="romulan">Romulan Empire</a></li>
    <li><a routerLink="ferengi">Ferengi Alliance</a></li>
    <li><a routerLink="borg">The Borg</a></li>
  </ul>
<!-- <app-federation-fleet></app-federation-fleet>
<app-klingon-fleet></app-klingon-fleet>
<app-romulan-fleet></app-romulan-fleet>
<app-cardassian-fleet></app-cardassian-fleet>
<app-ferengi-fleet></app-ferengi-fleet>
<app-borg></app-borg> -->
