<div class="container">
    <ul>
        <div class="dropdown"><li id="federation"><a routerLink="federation">United Federation of Planets</a></li></div>
            <!-- <div class="dropdown-content">
            <a routerLink="defiant">USS Defiant</a>
            </div> -->
        <div class="dropdown"><li id="klingon" class="main"><a routerLink="klingon">Klingon Empire</a></li></div>
        <div class="dropdown"><li id="romulan" class="main"><a routerLink="romulan">Romulan Empire</a></li></div>
        <div class="dropdown"><li id="cardassian" class="main"><a routerLink="cardassian">Cardassian Union</a></li></div>
        <div class="dropdown"><li id="ferengi" class="main"><a routerLink="ferengi">Ferengi Alliance</a></li></div>
        <div class="dropdown"><li id="borg" class="main"><a routerLink="borg">The Borg</a></li></div>
        <div class="home"><li id="home"><a routerLink="home">Home</a></li></div>
    </ul>
</div>
<!-- <app-federation-fleet></app-federation-fleet>
<app-klingon-fleet></app-klingon-fleet>
<app-romulan-fleet></app-romulan-fleet>
<app-cardassian-fleet></app-cardassian-fleet>
<app-ferengi-fleet></app-ferengi-fleet>
<app-borg></app-borg> -->
